{% extends 'base.html' %}
{% from "formhelper.html" import render_field %}
{% block title %} Flight Inquiry {% endblock %}
{% block content %}
    <div class="container">
        <form action="{{ url_for('main.InquireHotels') }}" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="row">
                <div class="col">
                    {{ render_field(form.firstName) }}
                </div>
                <div class="col">
                    {{ render_field(form.lastName) }}
                </div>
                <div class="col">
                    {{ render_field(form.email) }}
                </div>
            </div>
            <div class="row">
                    <div class="col">
                            {{ render_field(form.location) }}
                        </div>
                        <div class="col">
                                {{ render_field(form.budget) }}
                            </div>
                        <div class="col">
                            {{ render_field(form.guest) }}
                        </div>        
            </div>
            <div class="row">
                <div class="col">
                        {{ render_field(form.checkIn) }}
                </div>
                <div class="col">
                        {{ render_field(form.checkOut) }}
                </div>
            </div>
                {{ render_field(form.note) }}
            <div class="col-auto">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
    </div>
    
{% endblock %}
{% block javascript %}
<script>
    var dateToday = new Date();
    var dates = $("#checkIn, #checkOut").datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3,
        minDate: dateToday,
        onSelect: function(selectedDate) {
            var option = this.id == "from" ? "minDate" : "maxDate",
                instance = $(this).data("datepicker"),
                date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
            dates.not(this).datepicker("option", option, date);
        }
    });
</script>
{% endblock %}