{% extends 'base.html' %}

{% block title %}View Hotels{% endblock %}

{% block navbar %}
    {% include 'partials/navbars/_navbarCustomer.html' %}
{% endblock %}
<div class="container">
    <br>
    {% for items in viewHotels|batch(3) %}
        <div class="card-deck">
            {% for hotel in items %}
            <div class="card">
                <h5 class="card-header">{{ hotel.name }}</h5>
                <div class="card-body">
                    <p class="card-text">Room Type: {{ hotel.roomType }}</p>
                    <p class="card-text">Room Type: {{ hotel.capacity }}</p>
                    <p class="card-text">Details: {{ hotel.details }}</p>
                    <p class="card-text">Room Type: {{ hotel.roomType }}</p>
                    <p class="card-text">Check-In Date: {{hotel.checkIn}}</p>
                    <p class="card-text">Check-Out Date: {{hotel.checkOut}}</p>
                    <p class="card-text">Price: Php {{ flight.price }} </p> 
                    <a href="{{url_for('main.FlightSummary', id=flight.id)}}" class="btn btn-primary">View Flight</a>
                </div>
                <div class="card-footer">
                    <p class="card-text text-muted text-right">Valid Until: {{ hotel.expirationDate.strftime('%B %d, %Y') }}</p>   
                </div>
            </div>
            {% endfor %} 
        </div>
        <br>
    {% endfor %}
</div>
    
{% endblock %}